<div class="page">
  <div class="services-page">
    <!-- Header -->
    <div class="section-header">
      <h2 class="section-title">Our <span class="gradient-text">Services</span></h2>
      <p class="section-sub">Handcrafted treatments for every need and occasion</p>
    </div>

    <!-- Filter -->
    <div class="filter-row">
      <button
        *ngFor="let c of categories"
        class="filter-btn"
        [class.active]="category === c"
        (click)="setCategory(c)"
      >
        {{ c }}
      </button>
    </div>

    <!-- Services Grid -->
    <div class="services-grid">
      <div *ngFor="let service of filtered" class="service-card">
        <div class="service-body">
          <div class="service-name">{{ service.name }}</div>
          <div class="service-desc">{{ service.desc }}</div>

          <!-- stylist section -->
          <div class="staff-section">
            <div class="staff-label">Available Stylists</div>

            <!-- <div class="staff-list">
              <div
                class="staff-chip"
                *ngFor="let st of getStylistsForService(service.category) | slice: 0 : 3"
              >
                <span>{{ st.emoji }}</span>
                <span class="staff-name">
                  {{ st.name.split(' ')[0] }}
                </span>
              </div>

              <div class="staff-chip more">+{{ staff.length - 3 }} more</div>
            </div> -->
            <div class="staff-list" *ngIf="getStylistsForService(service.category) as stylists">
              <div class="staff-chip" *ngFor="let st of stylists | slice: 0 : 3">
                <span>{{ st.emoji }}</span>
                <span class="staff-name">
                  {{ st.name.split(' ')[0] }}
                </span>
              </div>

              <div class="staff-chip more" *ngIf="stylists.length > 3">
                +{{ stylists.length - 3 }} more
              </div>
            </div>
          </div>

          <div class="service-meta">
            <span class="service-price">₹{{ service.price }}</span>
            <span class="service-duration">⏱ {{ service.duration }}</span>
          </div>

          <button class="book-btn" (click)="book(service)">Book Now ✦</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-toast [toast]="toast"> </app-toast>
