<div class="auth-page">
  <div class="auth-card">
    <!-- Logo -->
    <div class="auth-logo">
      <div class="gradient-text brand">Spylon</div>
      <div class="brand-sub">Premium Salon</div>
    </div>

    <!-- Toggle -->
    <div class="form-toggle">
      <button class="form-toggle-btn" [class.active]="mode === 'login'" (click)="setMode('login')">
        Sign In
      </button>

      <button
        class="form-toggle-btn"
        [class.active]="mode === 'signup'"
        (click)="setMode('signup')"
      >
        Sign Up
      </button>
    </div>

    <!-- Full Name (signup only) -->
    <div class="form-group" *ngIf="mode === 'signup'">
      <label class="form-label">Full Name</label>
      <input class="input-field" placeholder="Your name" [(ngModel)]="form.name" />
    </div>

    <!-- Email -->
    <div class="form-group">
      <label class="form-label">Email</label>
      <input
        class="input-field"
        type="email"
        placeholder="you@email.com"
        [(ngModel)]="form.email"
      />
    </div>

    <div class="form-group">
      <label class="form-label">Password</label>

      <div class="password-field">
        <input
          class="input-field"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="••••••••"
          [(ngModel)]="form.password"
        />

        <button type="button" class="eye-btn" (click)="togglePassword()" *ngIf="form.password">
          <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button>
      </div>
    </div>

    <!-- Submit -->
    <button class="btn-primary auth-btn" (click)="handleAuth()" [disabled]="loading">
      <span *ngIf="loading" class="spinner"></span>

      <span *ngIf="!loading">
        {{ mode === 'login' ? 'Sign In →' : 'Create Account →' }}
      </span>

      <span *ngIf="loading">Processing...</span>
    </button>
  </div>
</div>
<app-toast [toast]="toast"> </app-toast>
